.page {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.header { 
	background: yellowgreen;
	padding: 1rem 0.5rem;
}
.content {  
	flex-grow: 1; flex-shrink: 1; overflow: hidden; 
}
.scrollContainer { 
	box-sizing: border-box;
	height: 100%;
	max-height: 100%; 
	overflow: auto; 
}
.contentContainer { 
	box-sizing: border-box;
	max-width: calc(100% - 1rem);
	margin: 1rem auto; 
}
.footer { 
	background: yellowgreen;
	padding: 1rem 0.5rem 
}