.details {
  border-bottom: 1px solid gray;
  display: flex;
  gap: 1rem;
  grid-column: 1/13;
  padding-block: 0 1rem;

  p {
    display: block;
    margin: 0;
  }
}

.completed {
  text-decoration: line-through;
  @media (prefers-color-scheme: light) {
    color: black;
  }
  @media (prefers-color-scheme: dark) {
    color: gray;
  }
}

.pending {
  @media (prefers-color-scheme: light) {
    color: black;
  }
  @media (prefers-color-scheme: dark) {
    color: white;
  }
}
