:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #1c49ea;
  text-decoration: inherit;
}
a:hover {
  color: #67738b;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  body {
    color: black;
    background-color: #fff;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: #101010;
  }
}
